@import '~@fluentui/react/dist/sass/References.scss';

.file_list {
  display: flex;
  flex-direction: column;
  max-height: 80px;
  overflow-y: scroll;
}

.filesize {
  font-size: 12px;
  font-weight: 700;
}

.success {
  color: green
}

.fail {
  color: red
}