@import '~@fluentui/react/dist/sass/References.scss';

.hidden_kitty {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

.orgchart_wide {
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  padding: 2px;
  border-radius: 10px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

}

.orgchart_standard {
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: static;
  background-color: white;
  width: 100%;
  padding: 2px;
  max-height: 500px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.orgchart_content {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  cursor: grab;
  overflow: scroll;
}

.wideButton {
  width: 100%;
  height: 40px;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  border: none;
  outline: none;
  background-color: white;
  transition: 0.2s;
  cursor:pointer !important
}

.wideButton:hover {
  letter-spacing: 6px;
  color: orangered
}

.orgchartHeader { 
  width: 100%;
  border-radius: 10px 10px 0 0 ;
  text-align: center;
  margin: 0;
  padding: 5px 0
}

.orgchartHeader h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.orgchartMsf {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.highligh_input {
  width: 375px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  border-bottom: 1px solid rgb(32, 32, 32);
  transition: 0.2s
}

.highligh_input:hover {
  background-color: #f1f1f1;
}

.highligh_input:focus {
  border: 1px solid #ebebeb;
  border-bottom: 2px solid darkblue
}

.inputs_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.topWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.top_person_wrapper {
  display: flex;
  align-items: end;
}

.orgchar_l1_connector {
  width: 2px;
  height: 20px;
  background-color:  rgba(105, 105, 105,0);
  color: rgba(0,0,0,0)
}

.orgchar_l1_wrapper {
  display:flex;
  padding: 10px;
  box-sizing: border-box;
  border-top: 2px solid rgba(105, 105, 105,0);
  width: fit-content;
}

.top_person {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 10px;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  background-color: white;
  min-width: 315px;
}

.top_person_manager {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 5px;
  margin: 5px;
  margin-bottom: 20px;
  width: fit-content;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.top_person_manager:hover, .person_wrapper:hover {
  box-shadow: 0 0 2px rgb(0, 0, 0);
}

.person_wrapper_first {
  position: relative
}

.person_wrapper_middle {
  position: relative;
}

.person_wrapper_last{
  position: relative;
}

.person_wrapper_first:before {
  content:'';
  position:absolute;
  top: -25px;
  left: 50%;
  width: 60%;
  height: 20px;
  border-left: 2px solid rgb(170, 170, 170); 
}

.person_wrapper_middle:before {
  content:'';
  position:absolute;
  top: -15px;
  right: 50%;
  width: 308px;
  height: 10px;
  border-top: 2px solid rgb(170, 170, 170);
  border-right: 2px solid  rgb(170, 170, 170);
}


.person_wrapper_last:before {
  content:'';
  position:absolute;
  top: -15px;
  right: 50%;
  width: 328px;
  height: 10px;
  border-radius: 0 10px 0 0;
  border-top: 2px solid rgb(170, 170, 170);
  border-right: 2px solid  rgb(170, 170, 170);
}

.person_wrapper {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 10px;
  margin: 8px 5px;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  transition: 0.2s;
  box-sizing: border-box;
  cursor: pointer;
}

.highlighted {
  box-shadow: 0 0 3px rgba(255,0,0,1);
}

.person_wrapper1 {
  min-width: 300px;
  max-width: 300px
}

.person_wrapper2 {
  padding: 8px;
  max-width: 275px;
  min-width: 275px;
}

.person_wrapper3 {
  padding: 7px;
  max-width: 260px;
  min-width: 260px;
}

.person_wrapper4 {
  padding: 6px;
  max-width: 245px;
  min-width: 245px;
}

.person_wrapper5 {
  padding: 5px;
  max-width: 230px;
  min-width: 230px;
}


.persons_box {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.person1 {  
  --person-avatar-size: 56px;
  --person-line1-font-size: 14px;
  --person-line2-font-size: 13px;
  --person-line3-font-size: 13px;
}

.person2 {
  --person-avatar-size: 48px;
  --person-line1-font-size: 13px;
  --person-line2-font-size: 12px;
  --person-line3-font-size: 12px;
}

.person3 {  
  --person-avatar-size: 42px;
  --person-line1-font-size: 12px;
  --person-line2-font-size: 11px;
  --person-line3-font-size: 11px;
  /*--person-background-color: #616161;*/
}

.person4 {
  --person-avatar-size: 36px;
  --person-line1-font-size: 11px;
  --person-line2-font-size: 10px;
  --person-line3-font-size: 10px;
}

.person5 {
  --person-avatar-size: 30px;
  --person-line1-font-size: 10px;
  --person-line2-font-size: 9px;
  --person-line3-font-size: 9px;
}