@import '~office-ui-fabric-react/dist/sass/References.scss';

.welcome {
  text-align: center;
}

.header {
  font-size:22px;
  color:#A80000;
  margin-bottom: 5px;
}

.links {
    font-size: 14px;
    text-decoration: none;
    color: #605e5c;
    
}

.linksbox{
  margin-top: 5px;
}

.links:hover{
  color:#3b3a39
}