@import '~office-ui-fabric-react/dist/sass/References.scss';

.anchorListWrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: transparent !important;
}

.anchorListBox {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 280px
}

.anchorLinksWrapper {
  padding: 4px 8px 8px 4px
}

.header {
  min-width: 260px;
  max-width: 260px;
  padding: 5px 10px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.anchorLink{
  display: flex;
  flex-direction: row;
  padding: 3px 5px;
  min-width: 260px;
  text-decoration: none;
  overflow-wrap: break-word;
  color: #605e5c;
}

.anchorLink:hover {
  filter: brightness(117%)
}

.anchorWrapper {
  display: flex;
  align-items: center;
}


.linksbox{
  margin-top: 5px;
}

.symbol {
  margin-right: 5px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.links:hover{
  color:#3b3a39
}