@import '~@fluentui/react/dist/sass/References.scss';

.redirectMsf {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.redirect_section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.redirect_wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px
}

.redirect_button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  margin: 10px;
}

.redirect_button:hover {
  filter:brightness(115%)
}

a:link {
  color:inherit
}

a:visited {
  color:inherit
}

a:hover {
  color:inherit
}

a:active {
  color:inherit
}